<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    
    <add name="cnxLABS_DB_STR" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=##DB##;Server=##SERVER##" />

  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="DBLABS" value="EnigmaLABS" />
    
  </appSettings>
  
</configuration>