<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
       
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    
  </configSections>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
   
    <variable name="ExceptionLayout" value="${machinename} | ${longdate} | ${level:upperCase=true} | ${message} | ${exception:format=ToString,Properties,Data}  " />
    
    <targets async="true">
      <default-target-parameters xsi:type="File" keepFileOpen="false"/>

      <target name="logconsole" xsi:type="Console" />

      <target name="logfilewarning" xsi:type="File" fileName="logs/warning_${shortdate}.txt" />
      <target name="logfileerror" xsi:type="File" fileName="logs/error_${shortdate}.txt" layout="${ExceptionLayout}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logconsole" />
      
      <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="logfilewarning"  />
      <logger name="*" minlevel="Error" writeTo="logfileerror" />

    </rules>
  </nlog>
  
  <connectionStrings>
    
    <!--<add name="cnxLABS_DB_STR_EF" connectionString="Server=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=|DataDirectory|\EnigmaLabsLocalDB.mdf;Initial Catalog=EnigmaLabsLocalDB;providerName=System.Data.SqlClient" />-->

    <add name="cnxLABS_DB_STR" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=##DB##;Server=##SERVER##" />
    
    <add name="cnxLABS_DB_STR_EF" 
         connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=EnigmaLABS_EF;Server=##SERVER##"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    
    <add key="DBLABS" value="EnigmaLABS_EF" />
    
    <!--Allowed values EF/ADO-->
    <!--<add key="DBStrategy" value="EF" />--> 
    
  </appSettings>
  
</configuration>